/Makefile
/build-aux
/ddns
/ddns.conf
/missing
/src/ddns/__version__.py
/tmp
*.py[co]
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.log
*.cache
*.gmo
*.mo
*~
Makefile.in
aclocal.m4
config.log
config.status
configure
install-sh
stamp-*
