/Makefile
/build-aux
/ddns
/ddns.conf
/man/*.[0-9]
/man/*.html
/missing
/src/ddns/__version__.py
/src/systemd/ddns.service
/tmp
*.py[co]
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.log
*.cache
*.gmo
*.mo
*~
Makefile.in
aclocal.m4
config.log
config.status
configure
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
stamp-*
