#
# This is a sample configuration file for the
# IPFire dynamic DNS update client.
#

[config]

# Upstream proxy.
# proxy = http://192.168.180.1:800

# Guess the external IP address with help
# of an external server.
# guess_external_ip = true

# Accounts are its own sections.
# These are some examples.

# [test.all-inkl.com]
# provider = all-inkl.com
# username = user
# password = pass

# [test.bind.nsupdate]
# provider = nsupdate
#
# (optional)
# server = 1.2.3.4
# zone = somezone.bind.nsupdate
# key = name
# secret = XYZ
# ttl = 60

# [test.changeip.com]
# provider = changeip.com
# username = user
# password = pass

# [test.ddnss.de]
# provider = ddnss.de
#
# Only use one of these two auth options.
# token = token
# username = user
# password = pass

# [test.dhs.org]
# provider = dhs.org
# username = user
# password = pass

# [test.dnspark.com]
# provider = dnspark.com
# username = user
# password = pass

# [test.dnsmadeeasy.com]
# provider = dnsmadeeasy.com
# username = user
# password = pass

# [test.dtdns.org]
# provider = dtdns.org
# password = pass

# [test.dyndns.org]
# provider = dnydns.org
# username = user
# password = pass

# [text.dyns.net]
# provider = dyns.net
# username = user
# password = pass

# [test.dynu.com]
# provider = dynu.com
# username = user
# password = pass

# [test.easydns.com]
# provider = easydns.com
# username = user
# password = pass

# [test.enom.com]
# provider = enom.com
# username = user
# password = pass

# [test.entrydns.net]
# provider = entrydns.net
# token = token

# [test.freedns.afraid.org]
# provider = freedns.afraid.org
# token = token

# [test.joker.com]
# provider = joker.com
# username = user
# password = pass

# [test.godaddy.com]
# provider = godaddy.com
# username = key
# password = secret

# [test.google.com]
# provider = domains.google.com
# username = user
# password = pass

# [test.infomaniak.ch]
# provider = infomaniak.ch
# username = user
# password = pass

# [test.loopia.se]
# provider = loopia.se
# username = user
# password = pass

# [test.myonlineportal.net]
# provider = myonlineportal.net
# username = user
# password = pass

# [test.namecheap.com]
# provider = namecheap.com
# password = pass

# [test.noip.org]
# provider = no-ip.com
# username = user
# password = pass

# [test.now-dns.com]
# provider = now-dns.com
# username = user
# password = pass

# [test.nsupdate.info]
# provider = nsupdate.info
# token = token

# [test.opendns.com]
# handle = opendns.com
# username = user
# password = pass

# [test.ovh.com]
# provider = ovh.com
# username = user
# password = pass

# [test.regfish.com]
# provider = regfish.com

# Only use one of these two auth options.
# token = token
# username = user
# password = pass

# [test.selfhost.de]
# provider = selfhost.de
# username = user
# password = pass

# [test.spdns.org]
# provider = spdns.org

# Only use one the these two auth options.
# token = token
# username = user
# password = pass

# [test.strato.com]
# provider = strato.com
# username = user
# password = pass

# [test.lightningwirelabs.com]
# provider = dns.lightningwirelabs.com

# Only use one of these two auth options.
# token = token
# username = user
# password = pass

# [test.twodns.de]
# provider = twodns.de
# username = user
# password = pass

# [test.udmedia.de]
# provider = udmedia.de
# username = user
# password = pass

# [test.variomedia.de]
# provider = variomedia.de
# username = user
# password = pass

# [test.xlhost.de]
# provider = xlhost.de
# username = user
# password = pass

# [test.zoneedit.com]
# provider = zoneedit.com
# username = user
# password = pass

# [test.zzzz.io]
# provider = zzzz.io
# token = token 
