#
# This is a sample configuration file for the
# IPFire dynamic DNS update client.
#

[config]

# Upstream proxy.
# proxy = http://192.168.180.1:800

# Guess the external IP address with help
# of an external server.
# guess_external_ip = true

# Accounts are its own sections.
# These are some examples.

# [test.dhs.org]
# provider = dhs.org
# username = user
# password = pass

# [test.dnspark.com]
# provider = dnspark.com
# username = user
# password = pass

# [test.dtdns.org]
# provider = dtdns.org
# password = pass

# [test.dyndns.org]
# provider = dnydns.org
# username = user
# password = pass

# [test.freedns.afraid.org]
# provider = freedns.afraid.org
# token = token
# proto = ipv4 OR ipv6

# [test.no-ip.org]
# provider = no-ip.com
# username = user
# password = pass

# [test.selfhost.de]
# provider = selfhost.de
# username = user
# password = pass

# [test.spdns.org]
# provider = spdns.org
# username = user
# password = pass

# [test.lightningwirelabs.com]
# provider = dns.lightningwirelabs.com

# Only use one of these two auth options.
# token = token
# username = user
# password = pass
